*, html {
  color: #333;
}
body {
  background: #FFF;
}
.card {
  background: #FFF;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 32px;
}
.card-title {
  font-size: 19px;
  font-weight: 700;
}
.card-title.status-online:after {
  top: 7px;
  background: #333;
}
.card-endpoint-header-uptime {
  color: #666;
}
.card-day {
  height: 16px;
  background: #333;
}
.card-day.status-error {
  background: rgba(51, 51, 51, 0.15);
}
.card-day.status-warning {
  opacity: .5;
}