/* Inspired by ZEIT */

/* Variables */

#root {
  --theme-body-font-color: #333;
  --theme-body-background: #FFF;
}

.theme-minimal {
  --theme-color-primary: #333;
  --theme-color-error: #fff;
  --theme-color-warning: #999;
  --theme-color-uptime: #666;

  --theme-card-background: #FFF;
  --theme-card-border: .1rem solid #DDD;
  --theme-card-day-height: 1.6rem;
}

.theme-minimal .card__container {
  box-shadow: 0 0 8px rgba(0, 0, 0, .03), 0 20px 30px rgba(0, 0, 0, .1);
}

.theme-minimal .card__title--online:after {
  width: 2.0rem;
  height: 2.0rem;
  top: 0;
  background: #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iMTAiIGZpbGw9IiMzMzMiLz48cGF0aCBkPSJNNy41NzcgMTMuOTNsLS4wMDMtLjAwMy0yLjIzLTIuMjNBMS4xNzIgMS4xNzIgMCAxIDEgNyAxMC4wMzlsMS40MDYgMS40MDUgNC44NS00Ljg1YTEuMTcyIDEuMTcyIDAgMSAxIDEuNjU4IDEuNjU3bC01LjY3NSA1LjY3NS0uMDA1LjAwNGExLjE3MiAxLjE3MiAwIDAgMS0xLjY1NyAweiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
  border: 0;
}

.theme-minimal .card__title--online:before {
  display: none;
}

.theme-minimal .card__timeline__card-day--status-error {
  border: .05rem solid rgba(51, 51, 51, .5);
}