// Inspired by Monkey Island color palette

// Variables

:root {
  --theme-color-primary: #B29FF9;
  --theme-color-error: #EC3E86;

  --theme-body-font-color: #D5CAFA;
  --theme-body-background: #1D1C2F;

  --theme-card-background: #242238;
  --theme-card-border: .1rem solid #403B5E;
  --theme-card-day-height: 1.6rem;
}