body {
  --theme-body-font-color: #FFF;
  --theme-body-background: #1E2129;

  --theme-color-primary: #22A7E9;
  --theme-color-error: rgb(236, 62, 134);
  --theme-color-warning: rgb(34, 167, 233);
  --theme-color-status-warning: #FFC22B;
  
  --theme-color-uptime: var(--theme-color-primary);

  --theme-card-background: rgba(31, 48, 65, 0.75);
  --theme-card-border: .1rem solid #21729C;
  --theme-card-title-font: 1.9rem;
  --theme-card-title-online: var(--theme-color-primary);
  --theme-card-day-width: .4rem;
  --theme-card-day-height: 2.0rem;
}

.card {
  margin: 0 auto;
  opacity: 0;
  transform: translateY(.8rem) scale(.98);
}

.card__container {
  padding: 2.4rem 3.2rem;
  border-radius: .4rem;
}

.card__module {
  display: flex;
  justify-content: center;
  color: var(--theme-body-font-color);
  background: var(--theme-body-background);
}

.card__title {
  margin: 0 0 4.4rem;
  padding-left: 3.2rem;
  font-weight: 500;
  font-size: var(--theme-card-title-font);
  line-height: var(--theme-card-title-font);
  position: relative;
  display: inline-block;
}

.card__title--status:after {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: .4rem;
  left: 0;
  content: '';
  z-index: 1;
  border-radius: 100%;
  border: .2rem solid rgba(#000, .5);
}

.card__title--status:before {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: .2rem;
  left: -.2rem;
  content: '';
  border-radius: 100%;
  filter: blur(.4rem);
}

.card__title--status.online:after {
  background: var(--theme-color-primary);
}

.card__title--status.online:before {
  background: var(--theme-color-primary);
  box-shadow: 0 0 2.4rem var(--theme-color-primary);
}

.card__title--status.error:after {
  background: var(--theme-color-error);
}

.card__title--status.error:before {
  background: var(--theme-color-error);
  box-shadow: 0 0 2.4rem var(--theme-color-error);
}

.card__title--status.warning:after {
  background: var(--theme-color-status-warning);
}

.card__title--status.warning:before {
  background: var(--theme-color-status-warning);
  box-shadow: 0 0 2.4rem var(--theme-color-status-warning);
  /* opacity: .5; */
}

.card__container {
  background: var(--theme-card-background);
  border: var(--theme-card-border);
}

.card__container__endpoint {
  margin-bottom: 3.0rem;
}

.card__container__endpoint:last-child {
  margin-bottom: 1.6rem;
}

.card__endpoint__header {
  display: flex;
  justify-content: space-between;
  line-height: 3.2rem;
  align-items: baseline;
}
  
.card__endpoint__title {
  margin: 0;
  font-size: var(--base-font-size);
}
  
.card__endpoint__uptime {
  margin: 0;
  font-size: 1.2rem;
  text-align: right;
  color: var(--theme-color-uptime);
}
  
.card__endpoint__timeline {
  display: flex;
}

.card__timeline__card-day {
  width: var(--theme-card-day-width);
  height: var(--theme-card-day-height);
  margin-right: .2rem;
  background: var(--theme-color-primary);
  border-radius: .1rem;
  display: flexbox;
}
      
.card__timeline__card-day:last-child {
  margin-right: 0;
}
      
.card__timeline__card-day--status-error {
  background: var(--theme-color-error);
  opacity: .5;
}
      
.card__timeline__card-day--status-warning {
  background: var(--theme-color-warning);
  opacity: .5;
}

/* Animations */
.card--ready {
  transition: all 1.0s ease;
  opacity: 1.0;
  transform: translateY(0rem) scale(1.0);
}
