body {
  --theme-body-font-color: #FFF;
  --theme-body-background: #1E2129;

  --theme-color-primary: #22A7E9;
  --theme-color-error: rgb(236, 62, 134);
  --theme-color-warning: rgb(34, 167, 233);
  --theme-color-status-warning: #FFC22B;
  
  --theme-color-uptime: var(--theme-color-primary);

  --theme-card-background: rgba(31, 48, 65, 0.75);
  --theme-card-border: .1rem solid #21729C;
  --theme-card-title-font: 1.9rem;
  --theme-card-title-online: var(--theme-color-primary);
  --theme-card-day-width: .4rem;
  --theme-card-day-height: 2.0rem;
}
  
.card__endpoint__timeline {
  display: flex;
}

.card__timeline__card-day {
  width: var(--theme-card-day-width);
  height: var(--theme-card-day-height);
  margin-right: .2rem;
  background: var(--theme-color-primary);
  border-radius: .1rem;
  display: flexbox;
}
      
.card__timeline__card-day:last-child {
  margin-right: 0;
}
      
.card__timeline__card-day--status-error {
  background: var(--theme-color-error);
  opacity: .5;
}
      
.card__timeline__card-day--status-warning {
  background: var(--theme-color-warning);
  opacity: .5;
}
