.card {
  margin: 0 auto;
  padding: 16px 20px 20px;
  background: rgba(31, 48, 65, 0.75);
  border-radius: 3px;
  border: 1px solid #21729C;
}
.card-title {
  margin: 0 0 16px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  position: relative;
  display: inline-block;
}
.card-title.status-online:after {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 8px;
  bottom: 0;
  right: -20px;
  content: '';
  background: greenyellow;
  border-radius: 8px;
}
.card-endpoint {
  margin-bottom: 16px;
}
.card-endpoint:last-child { margin-bottom: 0; }
.card-endpoint-header {
  display: flex;
  justify-content: space-between;
  line-height: 32px;
  align-items: baseline;
}
.card-endpoint-header-title {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 32px;
}
.card-endpoint-header-uptime {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  color: rgba(255, 255, 255, .5);
}
.card-timeline {
  display: flex;
}
.card-day {
  width: 4px;
  height: 26px;
  margin-right: 2px;
  background: rgba(174, 161, 242, 1);
  border-radius: 1px;
  display: flexbox;
}
.card-day.status-error {
  background: rgba(236, 62, 134, 1);
}
.card-day.status-warning {
  opacity: .5;
}
.card-day:last-child { margin-right: 0; }