.card {
  margin: 0 auto;
  padding: 16px 20px 20px;
  background: #1D1C2D;
  border-radius: 3px;
}
.card-title {
  margin: 0 0 16px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  position: relative;
  display: inline-block;
}
.card-title.status-online:after {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 8px;
  bottom: 0;
  right: -20px;
  content: '';
  background: greenyellow;
  border-radius: 8px;
}
.card-endpoint {
  margin-bottom: 16px;
}
.card-endpoint:last-child { margin-bottom: 0; }
.card-endpoint-title {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
}
.card-timeline {
  display: flex;
}
.card-day {
  width: 5px;
  height: 32px;
  margin-right: 3px;
  background: rgba(174, 161, 242, 1.0);
  border-radius: 1px;
  display: flexbox;
}
.card-day.status-error {
  opacity: .5;
}
.card-day.status-warning {
  opacity: .75;
}
.card-day:last-child { margin-right: 0; }