@charset "utf-8";

/* Variables */
:root {
  --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --base-font-size: 1.5rem;
  --base-font-weight: 400;
}

/* Import partials */

@import "base.css";